.myModal {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  display: none;
  justify-content: center;
  align-items: center;
}

.myModalContent {
  padding: 15px;
  background: white;
  border-radius: 16px;
  min-width: 250px;
}

.myModal.active {
  display: flex;
}