* {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 80%;
  max-width: 800px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: teal;
  margin-bottom: 10px;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style: none;
}

header ul li {
  padding: 5px;
}

header ul li a {
  display: block;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-bottom: 1px dashed #fff;
  text-decoration: none;
}
header ul li a:hover {
  border: 1px solid #fff;
}

.post {
  display: flex;
  border: 2px solid #006cff;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 15px;
  margin-bottom: 10px;
}

.post__content {
  width: calc(100% - 170px);
}

.post__btns {
  width: 170px;
}
hr { margin: 20px 0;}

.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 0;
  border: 1px dashed teal;
}

.pagination button {
  margin: 0 5px 10px;
  cursor: pointer;
  padding: 10px 15px;
  background: none;
  font-size: 16px;
  border: 2px solid teal;
}

.pagination button:hover {
  background-color: teal;
  color: #fff;
}

.pagination button.current {
  border: 3px solid teal;
  background: rgb(156, 219, 219);
  font-weight: bold;
}

